/*  Add your styling here */
:root{
    /* body */

    /* header */
    --headerHeight: ;
    --headerWidht: 99%;
    --HlogoSectionHeight: 120px;
    --HimgSectionHeight: 100px;
    --HmLheaderTextDiv: 500px;
    --HmTtextH2: 20px;
    --HmTtextH3: 10px;
    --HfontSizeH2: 3.5rem;
    --HfontSizeH3: 1.5rem;
    --HfontSizeNav: 1.5rem;
    --HnavigatorHeight: 30px;

    /* section main 1 */
    --sm1height: 350px;
    --sm1width: 350px;
    --sm1fontSizeH1: 60px;
    --sm1widthDivImg: 450px;
    --sm1fontSizeP: 28px;
    --sm1MarginRight: 60px;
    --sm1MarginTop: 80px;

    /* section main 2 */
    --sm2MarginTop: 80px;

    /* section main 3 */
    --sm3MarginTop: 60px;
    --sm3FontSizeH3: 45px;
    --sm3FontSizeP: 25px;
    --sm3imgWidhtSection: 5px;
    --sm3MarginRightImg: 80px;
    --sm3MarginLeftH3: 40px;
    --sm3MarginRightH3: 40px;
    --sm3MarginTopH3: 10px;
    --sm3MarginBottomP: 40px;

    /* section main 4 */
    --sm4MarginBottomH3: 20px;
    --sm4MarginBottomP: 20px;
    --sm4PaddingTop: 40px;
    --sm4PaddingBottom: 40px;
    --sm4MarginRight:80px;
    --sm4MarginLeft:80px;
    --sm4WidthInput: 290px;
    --sm4HeightInput: 20px;
    --sm4heightInputEnquiry: 50px;
    --sm4heightButton: 50px;
    --sm4widhtButton: 100px;
    --sm4fontSizeButton: 15px;
    --sm4MarginLeftButton: 100px;

    /* footer */
    --fPaddingTop: 20px;
    --fWidth: 100%;




}

body{
background-color: #523535;
font-weight: bolder;

}

@font-face {
  font-family: Pacifico-Regular;
  src: url(Pacifico-Regular.ttf);
}

@font-face {
  font-family: Satisfy-Regular;
  src: url(Satisfy-Regular.ttf);
}

/* Header */
.logoSection{
 display: flex;
 flex-direction: row; 
 justify-content: space-between;
 height: var(--HlogoSectionHeight);
 width: var(--headerWidht);
 align-items: center;

}

.imgSection{
    height: var(--HimgSectionHeight);
}

.headerTextDiv{
    color: #fffefe;
    font-weight: bolder;
    font-family: Pacifico-Regular;
}

.headerH2{
    font-size: var(--HfontSizeH2);
    margin-top: var(--HmTtextH2);
    margin-bottom: 0;
}

.headerH3{
    margin-top: var(--HmTtextH3);
    font-size: var(--HfontSizeH3);
    color: #ffda35;
}

/* Navigation */
.navigator{
    margin-top: var(--HmTtextH2);
    height: var(--HnavigatorHeight);
    background-color: #ae9595;
}

.navigationList {
    display: flex;
    list-style: none; 
    justify-content: space-evenly;    
    padding: 0;
  }

  .navigation_link1 {
    color: #402828;    
    font-size: var(--HfontSizeNav);
    text-decoration: none;
  }

  .navigation_link1:hover{    
    color: #271818;  
    background-color: #dfc3c3;
  }
  
  /* Main */
  .sectionMain1{
    display: flex;
    margin-top: var(--sm1MarginTop) ;
  }

  .sectionMain1Img{
    height: var(--sm1height);
    width: var(--sm1width);
  }

  .divMain1img{
    width: var(--sm1widthDivImg);
    margin: 0 80px 0 80px;
  }

  .sectionMain1h1{
    font-size: var(--sm1fontSizeH1) ;
    text-align: center;
    margin-right: var(--sm1MarginRight);
    font-family: Satisfy-Regular;
    color: #767ef1;
  }

  .sectionMain1p{
    font-size: var(--sm1fontSizeP);
    margin-right: var(--sm1MarginRight);
    margin-bottom: 0px;
    font-family: Satisfy-Regular;
    color: #08e8f8;
  }

  /* Section Main2 */

  .sectionMain2{
    margin-top: var(--sm2MarginTop);
  }

  .divMain2img{
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    grid-template-rows: auto;
    justify-items: center;  
    align-items: center;  
    background-color: #ae9595;
    height: 100px;
  }

  .imgMainSection2{
    border: solid 4px #402828;
    border-radius: 50%;
  }

  /* Section Main 3 */

  .sectionMain3{
    margin-top: var(--sm3MarginTop) ;
  } 

  .divSectionMain3{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 .textSectionMain3H3{
    font-size: var(--sm3FontSizeH3);
    margin-right: var(--sm3MarginRightH3);
    margin-left: var(--sm3MarginLeftH3);
    margin-bottom: 0px;
    margin-top: var(--sm3MarginTopH3);
    font-family: Satisfy-Regular;
    color: #dfc3c3;
 }

 .imgSectionMain3{
    margin-right: var(--sm3MarginRightImg);
    border: solid 5px #231b1b;
    border-radius: 60%;
 }

 .textSectionMain3p{
    font-size: var(--sm3FontSizeP);
    margin-right: var(--sm3MarginRightH3);
    margin-left: var(--sm3MarginRightH3);
    margin-top: 0px;    
    margin-bottom: var(--sm3MarginBottomP);
    font-family: Satisfy-Regular;
    color: #ffda35;
 }

 .textSectionMain3p1{
    font-size: var(--sm3FontSizeP);
    margin-right: var(--sm3MarginRightH3);
    margin-left: var(--sm3MarginRightH3);
    margin-top: 0;  
    margin-bottom: 0;
    font-family: Satisfy-Regular;
    color: #ffda35;
 }

 /* Section Main 4 */
 .sectionMain4{
    display: flex;
    justify-content: center;
    margin-top: var(--sm3MarginTop) ;
    background-color: #271818;
    color: #fffefe;
    padding-bottom: var(--sm4PaddingBottom);
  }

  .divSectionMain4{
    margin-right: var(--sm4MarginRight);
  }
  .divSectionMain4a{
    margin-left: var(--sm4MarginLeft);
  }

  .textSectionMain4H3{
    font-size: var(--sm3FontSizeH3);
    margin-right: var(--sm3MarginRightH3);
    margin-left: var(--sm3MarginLeftH3);
    margin-bottom: var(--sm4MarginBottomH3);
    margin-top: var(--sm4MarginTopH3);
    padding-top: var(--sm4PaddingTop);
    font-family: Satisfy-Regular;
    color: #dfc3c3;
  }

  .textSectionMain4H4{
    font-size: var(--sm3FontSizeH3);
    margin-right: var(--sm3MarginRightH3);
    margin-left: var(--sm3MarginLeftH3);
    margin-bottom: 0;
    margin-top: var(--sm4MarginTopH3);
    padding-top: var(--sm4PaddingTop);
    font-family: Satisfy-Regular;
    color: #dfc3c3;
  }

  .textSectionMain4p{
    font-size: var(--sm3FontSizeP);
    margin-right: var(--sm3MarginRightH3);
    margin-left: var(--sm3MarginRightH3);
    margin-top: 0px;    
    margin-bottom: var(--sm4MarginBottomP);
    font-family: Satisfy-Regular;
    color: #ffda35;
 }

 .inputSectionMain4{
    width: var(--sm4WidthInput);
    height: var(--sm4HeightInput);
    justify-content: center;
    justify-items: center;
    border: solid 2px #ffda35;
    border-radius: 2px;
 }

 .inputSectionMain4Enquiry{
    width: var(--sm4WidthInput);
    height: var(--sm4heightInputEnquiry);
    text-align:initial;
    border: solid 2px #ffda35;
    border-radius: 5px;
 }

 .inputSectionMain4Enquiry{
    width: var(--sm4WidthInput);
    height: var(--sm4heightInputEnquiry);
    text-align:initial;
    border: solid 2px #ffda35;
    border-radius: 5px;

 }

 .btnSectionMain4{
    width: var(--sm4widhtButton);
    height: var(--sm4heightButton);
    font-size: var(--sm4fontSizeButton);
    font-weight: bolder;
    color: #402828;
    background-color: #ae9595;
    cursor: pointer;
    border: solid 4px #ffda35;
    border-radius: 40px;
    margin-left: var(--sm4MarginLeftButton);
 }

.footerH4{
    border-top: solid 3px#ffda35;
    margin-top: 0;
    padding-top: var(--fPaddingTop);
    width: var(--fWidth);
    margin-right: auto;
    margin-left: auto;
    font-family: Satisfy-Regular;
    color: #dfc3c3;
}


@media (min-width:360px) and (max-width: 600px)  {   
  .imgSection{
      height: 60px;
      width: 80px;
 }   
  .headerH2{
      font-size: 27px;
      margin-top: 0;
      margin-bottom: 0;
 }   
  .headerH3{
      margin-top: 0;
      font-size: 13px;
      color: #ffda35;
 }
  .navigator{
   margin-top: 0px;
   height: 20px;
 }

 .navigationList {
   margin-top: 0px;
 }

  .navigation_link1 {  
   font-size: 13px;
 }

 .sectionMain1{
   display: flex;
   align-items: center;
   margin-top: 20px;
 }

 .divMain1img{
   width: var(--sm1widthDivImg);
   margin: 0 10px 0 10px;
 }

 .sectionMain1Img{
   height: 200px;
   width: 200px;
 }

 .sectionMain1h1{
   font-size: 25px;
   margin: 0;
 }

 .sectionMain1p{
   font-size: 13px;
   margin: 0;
   text-align: center;
 }

 .sectionMain2{
   margin-top: 20px;
 }

 .divMain2img{
   height: 60px;
 }

 .imgMainSection2{
   height: 35px;
 }

 .sectionMain3{
   margin-top: 20px ;
 } 

 .divSectionMain3{
   flex-direction: column;
   text-align: center;
 }

 .textSectionMain3H3{
   font-size: 25px;
   width: 99%;
   margin-right: auto;
   margin-left: auto;
 }

.imgSectionMain3{
   height: 200px;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
 }

.textSectionMain3p{
   font-size: 17px;
   width: 250px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 20px;
 }

.textSectionMain3p1{
   font-size: 17px;
   margin-right: auto;
   margin-left: auto;
 }

.sectionMain4{
 flex-direction: column;
 margin-top: 20px;;
 }

.divSectionMain4{
 margin-right: 0;
 }

.divSectionMain4a{
 margin: 0;
 text-align: center;
 }

.textSectionMain4H3{
 width: 99%;
 font-size: 25px;  
 text-align: center;
 margin: 0 0 20px 0;
 }

.textSectionMain4H4{
 font-size: 25px;
 padding-top: 20px;
 }

.textSectionMain4p{
 font-size: 17px;
 margin-bottom: 10px;
 text-align: center;
 }

.btnSectionMain4{
 margin: 0;
 }

.footerH4{
 width: 99%;
 font-size: 15px;
 }
 
}

@media (min-width:601px) and (max-width: 900px) {
  .imgSection{
    height: 80px;
  }

.headerH2{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  }

.headerH3{
  margin-top: 0;
  font-size: 15px;
}

.navigator{
 margin-top: 0;
 height: 25px;
}

.navigationList {
 margin-top: 0px;
}

.navigation_link1 {  
 font-size: 20px;
}

.sectionMain1{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.divMain1img{
  width: var(--sm1widthDivImg);
  margin: 0 10px 0 10px;
}

.sectionMain1Img{
  height: 250px;
  width: 250px;
}

.sectionMain1h1{
  font-size: 35px;
  margin: 0;
}

.sectionMain1p{
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.sectionMain2{
  margin-top: 20px;
}

.divMain2img{
  height: 80px;
}

.imgMainSection2{
  height: 60px;
}

.sectionMain3{
  margin-top: 20px ;
} 

.divSectionMain3{
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.textSectionMain3H3{
  font-size: 25px;
  width: 99%;
  margin-right: auto;
  margin-left: auto;
}

.imgSectionMain3{
  height: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.textSectionMain3p{
  font-size: 17px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.textSectionMain3p1{
  font-size: 17px;
  margin-right: auto;
  margin-left: auto;
}

.sectionMain4{
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;;
  }

 .divSectionMain4{
  margin-right: 0;
  }

 .divSectionMain4a{
  margin: 0;
  text-align: center;
  }

 .textSectionMain4H3{
  width: 99%;
  font-size: 25px;  
  text-align: center;
  margin: 0 0 20px 0;
  }

 .textSectionMain4H4{
  font-size: 25px;
  padding-top: 20px;
  }

 .textSectionMain4p{
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
  }

 .btnSectionMain4{
  margin: 0;
  }

 .footerH4{
  width: 99%;
  font-size: 15px;
  }

  }

@media (min-width:901px) and (max-width: 1100px) {
  .logoSection{
   margin-top: 20px;
   margin-left: 10px;
  
   }

  .imgSection{
    height: 120px;
  }

.headerH2{
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  }

.headerH3{
  margin-top: 0;
  font-size: 25px;
}

.navigator{
 margin-top: 0;
 height: 25px;
}

.navigationList {
 margin-top: 20px;
}

.navigation_link1 {  
 font-size: 20px;
}

.sectionMain1{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.divMain1img{
  width: var(--sm1widthDivImg);
  margin: 0 10px 0 10px;
}

.sectionMain1Img{
  height: 300;
  width: 300;
}

.sectionMain1h1{
  font-size: 60px;
  margin: 0;
}

.sectionMain1p{
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.sectionMain2{
  margin-top: 20px;
}

.divMain2img{
  height: 80px;
}

.imgMainSection2{
  height: 60px;
}

.sectionMain3{
  margin-top: 20px ;
} 

.divSectionMain3{
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.textSectionMain3H3{
  font-size: 30px;
  width: 99%;
  margin-right: auto;
  margin-left: auto;
}

.imgSectionMain3{
  height: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.textSectionMain3p{
  font-size: 23px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.textSectionMain3p1{
  font-size: 23px;
  margin-right: auto;
  margin-left: auto;
}

.sectionMain4{
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;;
  }

 .divSectionMain4{
  margin-right: 0;
  }

 .divSectionMain4a{
  margin: 0;
  text-align: center;
  }

 .textSectionMain4H3{
  font-size: 40px;  
  text-align: center;
  margin: 0 0 20px 0;
  }

 .textSectionMain4H4{
  font-size: 40px;
  padding-top: 40px;
  }

 .textSectionMain4p{
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  }

 .btnSectionMain4{
  margin: 0;
  }

 .footerH4{
  width: 99%;
  font-size: 20px;
  padding-top: 10px;
  }
  




  }